graphviz==0.11.1
h5py==2.7.1
heapdict==1.0.0
imageio==2.2.0
imagesize==0.7.1
influxdb==5.2.2
ipaddress==1.0.19
ipykernel==4.8.0
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
isort==4.2.15
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.31.5
jupyterlab-launcher==0.10.2
lxml==4.1.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mock==2.0.0
more-itertools==5.0.0
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
notebook==5.4.0
numexpr==2.6.6
numpy==1.14.5
numpydoc==0.7.0
packaging
pandas
pandas-ml
pandocfilters
pexpect
pickleshare
Pillow
pipenv
pkginfo
plotly
pluggy
ply
protobuf
psutil
psycopg2
psycopg2-binary
pytest
scikit-image
scikit-learn
scipy
SQLAlchemy
statsmodels
theano==1.0.4
pymc3
prompt-toolkit==1.0.15
pip3 install tornado==5.1.1
